// color Section
$color-grey-dark: #777;
$color-grey-light: #e4e4e4;
$color-black-dark: #000;
$color-black-dark: #000;
$color-orange: orange;
$color-red: #FF0000;
$color-red-ligh: #EE4B2B;
$color-orange-dark:#8B4000;
$color-light-sky-blue: #0BA8E6;
$color-dark-sky-blue: #3c3cecc9;
$color-primary-green: #55c57a;
$color-primary-green: #55c57a;
$color-primary-white: #fff;



//Font Sizes
$default-font-size: 1.6rem;

//Grid

$gutter-vertical: 2rem;
$gutter-vertical-small: 3rem;
$grid-width: 100rem;
$gutter-horizontal: 2rem;
$gutter-horizontal-small: 1rem;

$color-purple: purple;

//button-width
$button-width: 4px;